<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingApplicationIcon"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:configChanges="layoutDirection|uiMode|smallestScreenSize|colorMode|fontScale|orientation|screenLayout|screenSize|density"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebViewBlurActivity"
            android:configChanges="layoutDirection|uiMode|smallestScreenSize|colorMode|fontScale|orientation|screenLayout|screenSize|density" />

        <activity
            android:name=".RawWebViewBlurActivity"
            android:configChanges="layoutDirection|uiMode|smallestScreenSize|colorMode|fontScale|orientation|screenLayout|screenSize|density" />

    </application>

</manifest>